.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tarjeta{
  display: flex;
  justify-content: center;
  
}
footer{
    text-align: center;
    margin-top: 40em;
    align-items: center;

}
