@import "../scss/mixin/grid";
@import "../scss/extend/extend";
main{
    .container{
          @include container;
        grid-template-columns: 1fr 3fr;
        grid-gap: 20px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 20px;
        h1{@extend %marge;
            padding: 20px;
        
            box-shadow: 1px 1px 2px rgb(14, 14, 15);

        }
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 3fr;
        gap: 20px;
        
        article{
                grid-area: content;
        }
        aside aside {
            border-right: 1px solid rgb(0, 0, 0);
          }
          aside img {
            padding: 0.3em;
            width: 40%;
          }
    }
 body {
        width: 80%;
        padding: 5em 5em;
        max-width: 1200px;
        margin: 2em auto;
        font: Arial, Helvetica, sans-serif;
      }
      
      .container {
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 3fr;
        gap: 20px;
      }
      .container h1{
        padding: 20px;
        margin: 10px;
        box-shadow: 1px 1px 2px black;
      }
      
      
      aside {
        border-right: 1px solid rgb(0, 0, 0);
      }
      aside img {
        padding: 0.3em;
        width: 40%;
      }
      
      .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 20px;
      }
      
      .container {
         @include container;
        grid-template-columns: 1fr 3fr;
        grid-gap: 20px;
      }
       h1 {
        grid-area: h1;
      }
      
      article {
        grid-area: content;
      }
      
      aside {
        grid-area: sidebar;
      }


footer{
  text-align: center;
  margin-top: 40em;
  align-items: center;
}
}