@media  
(min-width: 1200px){
header{
    background: none;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

.main-contendor{
display:flex;
justify-content:space-between;
text-decoration: solid;
text-transform: uppercase;
color: rgb(12, 11, 10);
}

body{
background-image: url("../img/pexels-alexander-grey-1317534.jpg");
background-repeat:no-repeat;
background-size: cover;
justify-content: space-between;
background-attachment: fixed;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main img{
    padding: auto;
    width: 20rem;
    margin: 0.5em 3em;
}
}
body {
    width: 80%;
    padding: 5em 5em;
    max-width: 1200px;
    margin: 2em auto;
    font: Arial, Helvetica, sans-serif;
  }
  
  .container {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
  }
  .container h1{
    padding: 20px;
    margin: 10px;
    box-shadow: 1px 1px 2px rgb(239, 239, 241);
  }
  
  
  aside {
    border-right: 1px solid rgb(153, 153, 153);
  }
  aside img {
    padding: 0.3em;
    width: 40%;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
  }
  
  .container {
    display: grid;
    grid-template-areas:
      "h1 h1"
      "sidebar content"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
  }
   h1 {
    grid-area: h1;
  }
  
  article {
    grid-area: content;
  }
  
  aside {
    grid-area: sidebar;
  }
  
  footer {
    grid-area: footer;
  } 
  body {
    width: 80%;
    padding: 5em 5em;
    max-width: 1200px;
    margin: 2em auto;
    font: Arial, Helvetica, sans-serif;
  }
  
  .container {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
  }
  .container h1{
    padding: 20px;
    margin: 10px;
    box-shadow: 1px 1px 2px rgb(239, 239, 241);
  }
  
  
  aside {
    border-right: 1px solid rgb(14, 12, 12);
  }
  aside img {
    padding: 0.3em;
    width: 40%;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
  }
  
  .container {
    display: grid;
    grid-template-areas:
      "h1 h1"
      "sidebar content"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
  }
   h1 {
    grid-area: h1;
  }
  
  article {
    grid-area: content;
  }
  
  aside {
    grid-area: sidebar;
  }
  
  footer {
    grid-area: footer;
  } 


@media (max-width: 768px) 
  {
    header{
        background: none;
        height: 80px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
      }

.main-contendor{
    display:flex;
    justify-content:space-between;
   text-decoration: solid;
    text-transform: uppercase;
    color: rgb(12, 11, 10);
}

body{
    background-image: url("../img/pexels-alexander-grey-1317534.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    justify-content: space-between;
    background-attachment: fixed;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    main img{
        padding: auto;
        width: 20rem;
        margin: 0.5em 3em;
    }
}

@media
(max-width: 768px){
    body {
        width: 80%;
        padding: 5em 5em;
        max-width: 1200px;
        margin: 2em auto;
        font: Arial, Helvetica, sans-serif;
      }
      
      .container {
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 3fr;
        gap: 20px;
      }
      .container h1{
        padding: 20px;
        margin: 10px;
        box-shadow: 1px 1px 2px rgb(239, 239, 241);
      }
      
      
      aside {
        border-right: 1px solid rgb(153, 153, 153);
      }
      aside img {
        padding: 0.3em;
        width: 40%;
      }
      
      .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 20px;
      }
      
      .container {
        display: grid;
        grid-template-areas:
          "h1 h1"
          "sidebar content"
          "footer footer";
        grid-template-columns: 1fr 3fr;
        grid-gap: 20px;
      }
       h1 {
        grid-area: h1;
      }
      
      article {
        grid-area: content;
      }
      
      aside {
        grid-area: sidebar;
      }
      
      footer {
        grid-area: footer;
      } 
      header{
          background: none;
          height: 80px;
          position: fixed;
          width: 100%;
          top: 0;
          left: 0;
          z-index: 1;
        }
  
  .main-contendor{
      display:flex;
      justify-content:space-between;
     text-decoration: solid;
      text-transform: uppercase;
      color: rgb(12, 11, 10);
  }

  body{
      background-image: url("../img/pexels-alexander-grey-1317534.jpg");
      background-repeat:no-repeat;
      background-size: cover;
      justify-content: space-between;
      background-attachment: fixed;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
  
      main img{
          padding: auto;
          width: 20rem;
          margin: 0.5em 3em;
      }
      body {
        width: 80%;
        padding: 5em 5em;
        max-width: 1200px;
        margin: 2em auto;
        font: Arial, Helvetica, sans-serif;
      }
      
      .container {
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 3fr;
        gap: 20px;
      }
      .container h1{
        padding: 20px;
        margin: 10px;
        box-shadow: 1px 1px 2px rgb(239, 239, 241);
      }
      
      
      aside {
        border-right: 1px solid rgb(153, 153, 153);
      }
      aside img {
        padding: 0.3em;
        width: 40%;
      }
      
      .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 20px;
      }
      
      .container {
        display: grid;
        grid-template-areas:
          "h1 h1"
          "sidebar content"
          "footer footer";
        grid-template-columns: 1fr 3fr;
        grid-gap: 20px;
      }
       h1 {
        grid-area: h1;
      }
      
      article {
        grid-area: content;
      }
      
      aside {
        grid-area: sidebar;
      }
      
      footer {
        grid-area: footer;
      } 
    }

    
    @media
(max-width: 360px){
  header{
    background: none;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

.main-contendor{
display:flex;
justify-content:space-between;
text-decoration: solid;
text-transform: uppercase;
color: rgb(12, 11, 10);
}

body{
background-image: url("../img/pexels-alexander-grey-1317534.jpg");
background-repeat:no-repeat;
background-size: cover;
justify-content: space-between;
background-attachment: fixed;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main img{
    padding: auto;
    width: 20rem;
    margin: 0.5em 3em;
}
}
body {
    width: 80%;
    padding: 5em 5em;
    max-width: 1200px;
    margin: 2em auto;
    font: Arial, Helvetica, sans-serif;
  }
  
  .container {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
  }
  .container h1{
    padding: 20px;
    margin: 10px;
    box-shadow: 1px 1px 2px rgb(239, 239, 241);
  }
  
  
  aside {
    border-right: 1px solid rgb(153, 153, 153);
  }
  aside img {
    padding: 0.3em;
    width: 40%;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
  }
  
  .container {
    display: grid;
    grid-template-areas:
      "h1 h1"
      "sidebar content"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
  }
   h1 {
    grid-area: h1;
  }
  
  article {
    grid-area: content;
  }
  
  aside {
    grid-area: sidebar;
  }
  
  footer {
    grid-area: footer;
  } 
  body {
    width: 80%;
    padding: 5em 5em;
    max-width: 1200px;
    margin: 2em auto;
    font: Arial, Helvetica, sans-serif;
  }
  
  .container {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
  }
  .container h1{
    padding: 20px;
    margin: 10px;
    box-shadow: 1px 1px 2px rgb(239, 239, 241);
  }
  
  
  aside {
    border-right: 1px solid rgb(14, 12, 12);
  }
  aside img {
    padding: 0.3em;
    width: 40%;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
  }
  
  .container {
    display: grid;
    grid-template-areas:
      "h1 h1"
      "sidebar content"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
  }
   h1 {
    grid-area: h1;
  }
  
  article {
    grid-area: content;
  }
  
  aside {
    grid-area: sidebar;
  }
  
  footer {
    grid-area: footer;
  } 


 